<html>
<head>
    <title>Daily Wellcome Art</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

</head>
<body>
  <div class="container">
        <div class="row">
            <h1>{{ work.title }}</h1>
            <p>{{ work.description | safe }}</p>
            <div class="row">
                <div class="one-third column">
                    <a class="button" href="/flag/{{ work.id }}?redirect=1&sensitivity=1"
                       style="float: right;">Sensitive</a>
                </div>
                <div class="one-third column" style="text-align: center;">
                    <a class="button" href="/flag/{{ work.id }}?redirect=1&sensitivity=0">Fine</a>
                </div>
                <div class="one-third column">
                    <a class="button" href="/flag/{{ work.id }}?redirect=1&interesting=1"
                       style="float: left;">Interesting</a>
                </div>
            </div>
            <img src="{{ work.full_image_uri }}" style="display:block;margin-left:auto;margin-right:auto;">

        </div>

        <div class="row" style="margin-top:20px;">
            <p>For a full link to the collection work
                <a href="{{ work.collection_url }}" target="_blank">click here</a>
            </p>
            <p>Coming soon: see related...</p>

        </div>

  </div>
</body>
</html>